pandas
numpy
google-cloud-bigquery
google-cloud-core
google-auth
google-auth-oauthlib
google-auth-httplib2
db-dtypes
pyarrow
streamlit
streamlit-option-menu
requests
beautifulsoup4
python-dotenv
tqdm
matplotlib
seaborn
plotly
openpyxl
pandas-gbq